<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Leap Spot</title>
  <link rel="stylesheet" href="css/leaflet.css">
    <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>

<body>

  <html lang="en" ng-app="LeapSpot">
  <head>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">

    <link rel="stylesheet" href="css/mystyle.css">
  </head>
  <body layout="row" ng-controller="AppCtrl">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset" ng-controller="PhoneStateCtrl">
          <user-avatar></user-avatar>
          <span></span>
          <div>Degrees: {{degrees}}</div>
          <div>Rene Rodriguez</div>
          <div>rrlara@gmail.com</div>
        </div>
      </md-toolbar>
      <md-list>
      <md-item ng-repeat="item in menu">
        <a>
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            </div>
            <div class="inset" ng-click="getTable(item.title); closeLeftNav('left')">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
      <md-divider></md-divider>
      <md-subheader>Management</md-subheader>
      <md-item ng-repeat="item in admin">
        <a>
          <md-item-content md-ink-ripple layout="row" layout-align="start center">
            <div class="inset">
              <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
            </div>
            <div class="inset">{{item.title}}
            </div>
          </md-item-content>
        </a>
      </md-item>
    </md-list>
    </md-sidenav>
    <div layout="column" class="relative" layout-fill role="main">
      <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>
      <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <h3>
            Leap Spot
          </h3>
          <span flex></span>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
        </div>
        <md-tabs md-stretch-tabs class="md-primary" md-selected="data.selectedIndex">
          <md-tab id="tab1" aria-controls="tab1-content">
            Feed
          </md-tab>
          <md-tab id="tab2" aria-controls="tab2-content">
            Map
          </md-tab>
        </md-tabs>
      </md-toolbar>
      <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
          </md-button>
          <h3 flex="10">
            Back
          </h3>
          <md-input-container md-theme="input" flex>
            <label>&nbsp;</label>
            <input ng-model="search.who" placeholder="enter search">
          </md-input-container>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
            <ng-md-icon icon="more_vert"></ng-md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-content flex md-scroll-y>
        <!--<div id="map"></div>-->
        <ui-view layout="column" layout-fill layout-padding ng-controller="ContentCtrl" class="bgImage">
          <div class="inset" hide-sm></div>
            <ng-switch on="data.selectedIndex" class="tabpanel-container">

              <div role="tabpanel"
              id="tab1-content"
              aria-labelledby="tab1"
              ng-switch-when="0"
              md-swipe-left="next()"
              md-swipe-right="previous()"
              layout="row" layout-align="center center">
                <md-progress-linear md-mode="indeterminate" ng-show="loadingMoments"></md-progress-linear>
              <md-grid-list
                      md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                      md-row-height-gt-md="2:1" md-row-height="2:1"
                      md-gutter="12px" md-gutter-gt-sm="5px" >
                <md-grid-tile class="blue"
                md-rowspan="2"
                ng-repeat="item in data.items"
                        ng-click="activeMoment(item.id, data.items); demoCtrl.$showSource = !demoCtrl.$showSource" ng-class="{highlight: item.active}">
                  <img src="{{item.attributes.thumbnail._url}}" alt="Smiley face" width="900">
                  <div class=""></div>
                  <md-grid-tile-footer ng-click="addToImageClicked(item); showAdd($event)" ng-show="expandImage">
                <h3>{{item.attributes.comment}}</h3>
                </md-grid-tile-footer>
                  <md-grid-tile-footer ng-show="!expandImage">
                    <h3>{{item.attributes.comment}}</h3>
                  </md-grid-tile-footer>
                </md-grid-tile>

                <md-tabs class="demo-source-tabs ng-isolate-scope md-default-theme" ng-show="demoCtrl.$showSource"
                         style="min-height: 20px;" aria-hidden="false">
                </md-tabs>

              </md-grid-list>
                </div>

              <div role="tabpanel"
                   id="tab2-content"
                   aria-labelledby="tab2"
                   ng-switch-when="1"
                   md-swipe-left="next()"
                   md-swipe-right="previous()" 
                   layout="row" layout-align="center center"
                   class="mapContainer"
                      ng-controller="MapCtrl">
                  <md-card flex-gt-sm="90" flex-gt-md="80">
                    <!--<md-card-content>-->
                      <!-- -->
                    <!--</md-card-content>-->
                    <div id="map"></div>
                  </md-card>
              </div>

          </ng-switch>

        </ui-view>
      </md-content>
    </div>
    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

    <!--<script src="./js/lib/leaflet-src.js"></script>-->

    <script src="http://www.parsecdn.com/js/parse-1.2.15.min.js"></script>
    <script src="node_modules/angularparse/angularparse.js"></script>

    <script src="lib/leaflet-src.js"></script>
  </body>
</html>

  <script src="js/index.js"></script>
  <script src="js/phonestate.js"></script>
  <script src="js/content.js"></script>
  <script src="js/map.js"></script>

  <script src="js/DialogController.js"></script>

</body>

</html>